html {
	background-color: black;
	
}

#container {
	margin: 10px;
	background-color: lightblue;
	width: 57%;
	border: 100px;
	position: relative;
    width: 600px;
    height: 3000px;
    border: 3px solid:black;
	left: 10px;
}

#chat {

position: absolute;
top: 200px; right: 50px;
width: 300px; height: 2200px;
background-color: white;
color: black;
}

.left {
	background-color: white;
	width: 50%;
    	position: relative;
	display: inline-block;
	top: 0px; left: 0px;
	
}
.right {
	width: 40%;
	position: relative;
	top: 0px; right: 0px;
	display: inline-block;
}

#map-canvas {
	width: 500px;
	height: 500px;

}

h1 {
	text-align: left;
	text-decoration: underline;
	color: white;
	font-size: 50;
	font-family: 'Arvo', serif;
}

.content {
	position: centre;
	left: 0px; bottom: 80px;
	border: 10px;
	
}

.Name {
	position: bottom;
	left: 0; top: 100px;
	width: 25%;
	height:250px;
	text-decoration:underline;
	color:green
	margin: 10px; 
	background-color: pink;
}
.Date{
	position:absolute;
	right: 59; top: 100px;
	width: 50%; 
	height:250px;
	margin: 10px; 
	background-color: red;
}

.divbox {
	width: 300px;
	padding: 25px;
	border: 25px: lightblue;
	margin: 55px;
	margin: 10px;
	background-color: blue;
	width: 50%;
	border: 100px;
	position: relative;
    width: 400px;
    height: 99%;
    border: 3px solid #8AC007;
	}
	
	
.textboxStyle { 
		width: 600px;
		padding: 25px;
	}
	
p {
	color: white;
	font-size: 1.5em;
	text-align: centre;
	
	}
	
#logo {
    width: 233px;
	margin: auto;
		
		
		
	}

.button {
background-color: blue;
color: white;
float: right;
padding: 10px;
width: 200px;
height: 200px;
}
		
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 30px #232623;
  font-family: Georgia;
  color: #1c191c;
  font-size: 60px;
  padding: 10px 14px 11px 20px;
  border: solid #1f628d 6px;
  text-decoration: none;
}

.btn:hover {
  background: #f7fcff;
  background-image: -webkit-linear-gradient(top, #f7fcff, #3498db);
  background-image: -moz-linear-gradient(top, #f7fcff, #3498db);
  background-image: -ms-linear-gradient(top, #f7fcff, #3498db);
  background-image: -o-linear-gradient(top, #f7fcff, #3498db);
  background-image: linear-gradient(to bottom, #f7fcff, #3498db);
  text-decoration: none;
}
	


