html {
	background-color: black;
	
}

#container {
	margin: 10px;
	background-color: lightblue;
	width: 50%;
	border: 100px;
	position: relative;
    width: 600px;
    height: 3000px;
    border: 3px solid:black;
}

.left {
	background-color: white;
	width: 40%;
    	display: inline-block;
	
}
.right {
	width: 50%;
	display: inline-block;
}

#map-canvas {
	width: 500px;
	height: 500px;

}

h1 {
	text-align: left;
	text-decoration: underline;
	color: white;
	font-size: 50;
	font-family: 'Arvo', serif;
}

.content {
	position: centre;
	left: 0px; bottom: 80px;
	border: 10px;
	
}

.Name {
	position: bottom;
	left: 0; top: 100px;
	width: 25%;
	height:250px;
	text-decoration:underline;
	color:green
	margin: 10px; 
	background-color: pink;
}
.Date{
	position:absolute;
	right: 59; top: 100px;
	width: 50%; 
	height:250px;
	margin: 10px; 
	background-color: red;
}

.divbox {
	width: 300px;
	padding: 25px;
	border: 25px: lightblue;
	margin: 55px;
	margin: 10px;
	background-color: blue;
	width: 50%;
	border: 100px;
	position: relative;
    width: 400px;
    height: 99%;
    border: 3px solid #8AC007;
	}
	
	
.textboxStyle { 
		width: 600px;
		padding: 25px;
	}
	
p {
	color: white;
	font-size: 1.5em;
	text-align: centre;
	
	}
	
#logo {
    width: 233px;
	margin: auto;
		
		
		
	}


	


